*.class
*.jar
target/
bin/
build/
.idea/
.idea_modules/
*.iml
.settings/
bin/
tmp/
.metadata
.classpath
.project
dist/
.DS_Store
tensorflow-benchmarks/models/bert
tensorflow-benchmarks/models/elmo
tensorflow-benchmarks/models/resnet-50

*~
